<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.e_waste_manager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_waste_manager"
        tools:targetApi="31">
        <activity
            android:name=".DonateTransactions"
            android:exported="false" />
        <activity
            android:name=".AddDisposal"
            android:exported="false" />
        <activity
            android:name=".GoogleMapView"
            android:exported="false" />
        <activity
            android:name=".GuideSearch"
            android:exported="false" />
        <activity
            android:name=".ForumSearch"
            android:exported="false" />
        <activity
            android:name=".LearnSearch"
            android:exported="false" />
        <activity
            android:name=".RequestTab"
            android:exported="false" />
        <activity
            android:name=".RequestView"
            android:exported="false" />
        <activity
            android:name=".NoConnection"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".HomeView"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LearnView"
            android:exported="false" />
        <activity
            android:name=".LearnPost"
            android:exported="false" />
        <activity
            android:name=".Request"
            android:exported="false" />
        <activity
            android:name=".DisposalLocation"
            android:exported="false" />
        <activity
            android:name=".Donate"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".Partner"
            android:exported="false" />
        <activity
            android:name=".Learn"
            android:exported="false" />
        <activity
            android:name=".Post"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>